.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11%;
}
.header a {
    cursor: pointer;
}

.header svg {
    width: 26px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(304deg) brightness(97%) contrast(103%);
}

.logo img {
    width: 32px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(304deg) brightness(97%) contrast(103%);
}

.header-nav-bar {
    display: flex;
}
.header-nav-bar a {
    padding: 20px 32px;
    margin: 4px 2px;
    transition: .2s ease-in-out all;
    border-radius: 8px;
}
.header-nav-bar a {
    filter: invert(84%) sepia(0%) saturate(3706%) hue-rotate(22deg) brightness(95%) contrast(74%);
}
.header-nav-bar a.selected {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(304deg) brightness(97%) contrast(103%);
}
.header-nav-bar a:hover {
    background-color: #0000000A;
}


.header-menu svg {
    filter: invert(84%) sepia(0%) saturate(3706%) hue-rotate(22deg) brightness(95%) contrast(74%);
    transition: .1s;
    cursor: pointer;
}
.header-menu:hover svg {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(304deg) brightness(97%) contrast(103%);
}