<app-header></app-header>
<div class="profile">
    <div class="user-info">
        <div class="user-username">
            qqhomie
        </div>
        <div class="user-image">
            <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Аватар">
        </div>
    </div>
    
    <ul class="tabs">
        <li class="tab active">Ветки</li>
        <li class="tab">Ответы</li>
        <li class="tab">Репосты</li>
    </ul>

    <div class="tab-content active">
        <ul class="posts">
        </ul>
    </div>
    
    <div class="tab-content">
        <ul class="replies">
        </ul>
    </div>

    <div class="tab-content">
        <ul class="reposts">
        </ul>
    </div>
</div>