<app-header></app-header>
<section class="search-main-wrapper">
    <div class="search-main">
        
        
        <div class="search-accounts">
            <div class="account--item" *ngFor="let acc of accounts">
                <div class="account-avatar-wrapper">
                    <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="">
                </div>
                <div class="acc-info-left">
                    <div class="acc-main-info">
                        <span>
                            <p class="acc-username">{{ acc.username }}</p>

                        </span>
                        <button>Подписаться</button>
                    </div>
                    <div class="acc-subs">
                        <p>Недавно в threads</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>